<!doctype html>
<html>
<head>
    <title>pucaprice</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .container {
            width: 900px;
            margin-right: auto;
            margin-left: auto;
        }
        ul {
            list-style-type: none;
        }
        li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>pucaprice</h2>
    </div>
    <div class="container">
        Search: <input type="text"/>
    </div>
    <div class="container">
        <ul class="results"></ul>
    </div>
    <script>
        $("input").keypress(function (e) {
            if (e.which == 13) {
                $.get("http://pucaprice.herokuapp.com/api/v1/search/" + $("input").val(), function(data) {
                    $(".results").empty();
                    $.each(data.results, function(index, value) {
                        $(".results").append(
                            $("<li>").append(
                                $("<a>").attr("href", "http://pucaprice.herokuapp.com/card/" + value.id).append(
                                    value.name + " (" + value.set_name + ")"
                                )
                            )
                        );
                    });
                });
                return false;
            }
        });
    </script>
</body>
</html>